h1= title
p
	| Welcome to ajwhite.me!  This is a simple website that I'm developing based on Node.js, Express, and MongoDB.  I'm
	| currently in the process of developing the underlying blog engine, so for now enjoy this static page!

p
	strong NOTE
	| The design of this site is based on the design of vowsjs.org.