!!!5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
  	#menu-bar
  		nav
  			a(href="#") Blog
  			a(href="#") About
  			a(href="#") GitHub
  	#content
  		!= body